<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head">>
</head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<h1><span>Edit Cheese:</span>
    <span th:text="${cheese.name}">name</span>
    <span>(id=</span><span th:text="${cheese.id}"></span>
    <span>)</span>
</h1>

<form method="post" style="max-width:600px;" action="/cheese/edit" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}"/>
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div class="form=group">
        <label th:for="type">Type</label>
        <select th:field="*{category}">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"
                    th:selected="${category} == *{category.name}" >
            </option>
        </select>
    </div>
    <input type="hidden" th:value="*{id}" name="id" />
    <input type="submit" value="Edit Cheese" />
</form>

</body>
</html>